@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Rubik", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
  h1 {
    @apply text-[2rem] max-lg:text-3xl;
  }
  h2 {
    @apply text-[1.5rem] font-medium max-lg:text-xl;
  }
  h3 {
    @apply text-xl max-lg:text-lg;
  }
  h4 {
    @apply text-lg font-medium max-lg:text-base;
  }
  h5,
  p {
    @apply text-[1rem] max-lg:text-sm;
  }
  label {
    @apply text-sm font-medium text-black/50;
  }
  button {
    @apply outline-none;
  }

  /* input[type="radio"] {
    appearance: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border: 1px solid #0b92d2;
    border-radius: 2px;
    display: inline-grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transform-origin: bottom left;
    background-color: #fff;
    clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  input[type="radio"]:checked {
    background-color: #0b92d2;
    border: 1px solid #0b92d2;
  } */
}

@layer components {
  /* li {
    @apply list-disc pl-5 space-y-2;
  } */

  .karan-btn {
    @apply bg-primary text-white flex items-center justify-center gap-4 font-medium max-h-14;
  }
  .primary-btn {
    @apply w-max px-20 py-2.5 rounded-3xl karan-btn;
  }
  .secondary-btn {
    @apply w-full p-2.5 rounded-md karan-btn;
  }
  .secondary-btn > img {
    @apply max-h-7 w-6;
  }

  .standard-input {
    @apply max-h-14 border border-black/15 rounded-md p-2.5 placeholder:text-zinc-400 font-normal outline-none;
  }

  .progress-item {
    @apply flex gap-2.5 items-center lg:bg-white lg:p-4 lg:rounded-xl lg:border lg:border-neutral-200;
  }
  .progress-item > img {
    @apply h-11 w-11;
  }
  .progress-item > p {
    @apply text-primary;
  }
  .progress-list {
    @apply flex flex-col gap-3 lg:grid lg:grid-cols-3;
  }

  .chapter-card {
    @apply bg-accent rounded-2xl text-primary p-4 w-full max-lg:text-center;
  }

  .standard-input-container {
    @apply border border-black/15  rounded-md flex px-0.5 relative;
  }
  .standard-input-container input,textarea {
    @apply standard-input border-0 flex-1 w-full;
  }
  .standard-input-container textarea {
    @apply h-64 max-h-max overflow-auto;
  }
}
